@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 249, 255; /* off-white */
  --background-start-rgb: 11, 15, 26; /* dark-bg */
  --background-end-rgb: 11, 15, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Tambahan agar scroll halus */
html {
  scroll-behavior: smooth;
}